<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Total:</strong>
    <%= @expense.total %>
  </p>

  <p>
    <strong>Observation:</strong>
    <%= @expense.observation %>
  </p>

  <%= link_to 'Editar', edit_expense_path(@expense), class: "btn btn-primary" %> |
  <%= link_to 'Voltar', expenses_path, class: "btn btn-default" %>
</div>
